{% extends "navbar.html" %}
{% load static %}

{% block note_active %}
active
{% endblock note_active %}

{% block note_active_span %}
<span class="sr-only">(current)</span>
{% endblock note_active_span %}
<!-- 上面這些完善導航條的外觀顯示 -->

{% block css %}

<link rel="stylesheet" href="{% static 'css/note_style1.css' %}">

{% endblock css %}

{% block content %}
<div class='area-container'>
    <div id='btnContainer' style='margin-top:1rem;'>
        <a href='#'><button id="selfDefined" type="button" class="btn btn-info">自定義筆記</button></a>
        <a href='#'><button id="playlist" type="button" class="btn btn-info">播放清單</button></a>
        <a href='#'><button id="allNotes" type="button" class="btn btn-info">所有筆記板</button></a>
    </div>
    <div id='wholeAreaContainer'>
        <div id="exerciseAns" class="region-container">
            <div class='d-flex justify-content-center'>
                <h5 class='header-style'>習題答案區</h5>
            </div>
            <div class='container display-data-container'>
                <div id='subject'>
                    <p style='margin-bottom:0.2rem; margin-top:1rem;'><strong>科目</strong></p>
                    <div id='subjectBtnContainer'>
                        
                    </div>
                </div>
            </div>
        </div>
        <div id="learningArea" class="region-container" style='height:330px;'>
            <div class='d-flex justify-content-center'>
                <h5 class='header-style'>學習影片區</h5>
            </div>
            <div class='container display-data-container'>
                <div id='course'>
                    <p style='margin-bottom:0.2rem; margin-top:1rem;'><strong>課名</strong></p>
                    <div id='courseBtnContainer'>
                        
                    </div>
                </div>
                <div id='lecturer'>
                    <p style='margin-bottom:0.2rem; margin-top:1rem;'><strong>授課者</strong></p>
                    <div id='lecturerBtnContainer'>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 重新命名的輸入框modal -->
<div class="modal fade" id="renameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="renameModalLabel"><strong id='renameModalTitle'>重新命名</strong></h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class='prev-page-container'>
                <a href='#' id='renamePrevious' class='previous'><i class="fa-solid fa-arrow-left"></i></a>
            </div>
            <div id='oldNameContainer'><strong>現在名稱: <span id='oldName'></span></strong></div>
            <div class="input-group rename-container" style='margin-top:0.3rem;'>
                <input type="text" id="renameInput" style="width:150px;" placeholder='重新命名'>
                <div class='input-group-append'>
                    <button type="button" id="renameSubmit" class="btn btn-primary" style='padding: 0.1rem 0.2rem;'>確定</button>
                </div>
                <span id='renameError' style='color:red; font-size:0.7rem;'></span>
            </div>
        </div>
      </div>
    </div>
  </div>

<!-- 學習影片筆記區與習題答案筆記區的show-more modal -->
<div class="modal fade" id="showMoreModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="showMoreModalLabel"><strong id='showMoreModalTitle'>Modal title</strong></h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id= 'showMoreTopContainer' class='container'>
              <div class='search-container d-flex justify-content-end'>
                <a href='#'><i id='showMoreSearchIcon' class="fa-solid fa-magnifying-glass search-icon" style='transform: translateY(-45%);'></i></a>
                <input id='showMoreSearchInput' class='search-input' type='text' placeholder='搜尋' style='display:none;'>
              </div>
          </div>
          <div id='displayDataContainer' class='container' style='margin-top:0.3rem;'>
            
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- 學習影片區的modal -->
<div class="modal fade" id="learningAreaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="learningAreaModalLabel"><strong id='learningAreaModalTitle'>學習影片</strong></h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div id= 'learningAreaTopContainer' class='container' style='margin-bottom:0.2rem;'>
                <div class='d-flex align-items-center'>
                    <div id='prevPageContainer' class='mr-auto'>
                        <a href='#' id='learningAreaPrevious' class='previous'><i class="fa-solid fa-arrow-left"></i></a>
                    </div>
                    <div class='search-container'>
                        <a href='#'><i id='learningAreaSearchIcon' class="fa-solid fa-magnifying-glass search-icon"></i></a>
                        <input id='learningAreaSearchInput' class='search-input' type='text' placeholder='搜尋' style='display:none;'>
                    </div>
                </div>
                <div class='total-row' style='font-size:1rem;'><strong id='totalRow'></strong></div>
            </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="colspan=3">#</th>
                <th scope="col">授課者</th>
                <th scope="col">課名</th>
                <th scope="col">VIDEO ID(BV開頭的多為來自B站)</th>
              </tr>
            </thead>
            <tbody id=learningAreaDataTableBody>
    <!--    <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>   留一列以供查看結構-->
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
<!-- 習題答案區的modal -->
<div class="modal fade" id="exerciseAnswerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="exerciseAnswerModalLabel"><strong id='exerciseAnswerModalTitle'></strong></h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div id='exerciseAnswerTopContainer' class='container' style='margin-bottom:0.2rem;'>
                <div class='d-flex align-items-center'>
                    <div id='exerciseAnswerPrevPageContainer' class='mr-auto'>
                        <a href='#' id='exerciseAnswerPrevious' class='previous'><i class="fa-solid fa-arrow-left"></i></a>
                    </div>
                    <div class='search-container'>
                        <a href='#'><i id='exerciseAnswerSearchIcon' class="fa-solid fa-magnifying-glass search-icon"></i></a>
                        <input id='exerciseAnswerSearchInput' class='search-input' type='text' placeholder='搜尋' style='display:none;'>
                    </div>
                </div>
            </div>
            <div id='exerciseAnswerPanelContainer' class='container align-items-center'>

            </div>
        </div>
      </div>
    </div>
</div>
<!-- 各影片時段的筆記板modal -->
<div class="modal fade" id="periodPanelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="periodPanelModalLabel">
            <strong id='periodPanelModalTitle'>
                <div class="btn-group dropright">
                    <a href='#' id='dropdownTitle' class='dropdown-toggle' video-id='' data-toggle="dropdown" aria-expanded="false" style='color:black;'></a>
                    <div class="dropdown-menu" style="">
                        <a href="#" class="dropdown-item copy-link">複製影片連結</a>
                        <a href="#" class="dropdown-item to-learning-area">前往學習區</a>
                    </div>
                </div>
            </strong>
          </h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id= 'periodPanelTopContainer' class='container'>
            <div class='d-flex align-items-center'>
              <div id='periodPanelPrevPageContainer' class='mr-auto'>
                <a href='#' id='periodPanelPrevious' class='previous'><i class="fa-solid fa-arrow-left"></i></a>
              </div>
              <div class='search-container'>
                <a href='#'><i id='periodPanelSearchIcon' class="fa-solid fa-magnifying-glass search-icon"></i></a>
                <input id='periodPanelSearchInput' class='search-input' type='text' placeholder='搜尋' style='display:none;'>
              </div>
              <div id='sortContainer'>
                <a href='#'><i id='sortIcon' class="fa-solid fa-sort sort" style="color:#888;"></i></a>
              </div>
  
            </div>
          </div>
          <div id='periodPanelContainer' class='container' style='margin-top:0.3rem;'>
            <ul id='periodPanelItems'>

            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- 自定義的modal -->
<div class="modal fade" id="selfDefinedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="selfDefinedModalLabel"><strong id='selfDefinedModalTitle'>自定義區筆記</strong></h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div id='selfDefinedTopContainer' class='container' style='margin-bottom:0.2rem;'>
                <div class='d-flex align-items-center'>
                    <span class='mr-auto'><strong style='font-size:0.9rem;'>位址</strong></span>
                    <div class='search-container'>
                        <a href='#'><i id='selfDefinedSearchIcon' class="fa-solid fa-magnifying-glass search-icon"></i></a>
                        <input id='selfDefinedSearchInput' class='search-input' type='text' placeholder='搜尋' style='display:none;'>
                    </div>
                </div>
                <div id='path' style='margin-left:1rem;'>
                    <a href='#' class='self-defined-path'></a>
                    <!--
                    <a href='#' class='self-defined-path'> > 1</a>
                    <a href='#' class='self-defined-path'> > 2</a>
                    <a href='#' class='self-defined-path'> > 3</a> 
                    -->
                </div>
            </div>
            <div id='selfDefinedDataContainer' class='container' style='margin-top:0.5rem;'>
                <div id='selfDefinedFolderContainer'>
                    <div class='self-defined-folder-header'>
                        <span id='selfDefinedFolderHeader' class='self-defined-header'><strong style='font-size:1.2rem;'>資料夾</strong></span>
                        <a href='#' id='newFolder' class='add-things' style='margin-left:0.3rem; color:black;'><i class="bi bi-folder-plus"></i></a>
                    </div>
                    <div id='selfDefinedFolderData'>
                        
                            <div class='col-sm-8 d-flex' style='margin-left:2rem;'>
                                <i class="bi bi-folder" style='margin-right: 0.3rem;'></i>
                                <a href='#' class='self-defined-folder mr-auto'>我是一個資料夾</a>
                                <a href='#'>
                                    <i class="bi bi-pen self-defined-rename" style="font-size:0.8rem;"></i>
                                    <i class="fa-solid fa-trash-can self-defined-delete" style="font-size:0.8rem;"></i>
                                </a>
                            </div>
                            <div class='col-sm-8 d-flex' style='margin-left:2rem;'>
                                <i class="bi bi-folder" style='margin-right: 0.3rem;'></i>
                                <a href='#' class='self-defined-folder mr-auto'>我是地二個資料夾</a>
                                <a href='#'>
                                    <i class="bi bi-pen self-defined-rename" style="font-size:0.8rem;"></i>
                                    <i class="fa-solid fa-trash-can self-defined-delete" style="font-size:0.8rem;"></i>
                                </a>
                            </div>

                    </div>
                </div>
                <div id='selfDefinedPanelContainer' style='margin-top:0.5rem;'>
                    <div class='self-defined-panel-header'>
                        <span id='selfDefinedPanelHeader' class='self-defined-header'><strong style='font-size:1.2rem;'>筆記板</strong></span>
                        <a href='#' id='newPanel' class='add-things' style='margin-left:0.3rem; color:black;'><i class="fa-regular fa-pen-to-square"></i></a>
                    </div>
                    <div class='selfDefinedPanelData'>

                        <div class='col-sm-8 d-flex align-items-center' style='margin-left:2rem;'>
                            <i class="fa-solid fa-pen-to-square" style='margin-right: 0.3rem;'></i>
                            <a href='#' class='self-defined-panel mr-auto'>我是一個筆記板</a>
                            <a href='#'>
                                <i class="bi bi-pen self-defined-rename" style="font-size:0.8rem;"></i>
                                <i class="fa-solid fa-trash-can self-defined-delete" style="font-size:0.8rem;"></i>
                            </a>
                        </div>
                        <div class='col-sm-8 d-flex align-items-center' style='margin-left:2rem;'>
                            <i class="fa-solid fa-pen-to-square" style='margin-right: 0.3rem;'></i>
                            <a href='#' class='self-defined-panel mr-auto'>我是第二個筆記板</a>
                            <a href='#'>
                                <i class="bi bi-pen self-defined-rename" style="font-size:0.8rem;"></i>
                                <i class="fa-solid fa-trash-can self-defined-delete" style="font-size:0.8rem;"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
<!-- 新增東西的modal -->
<div class="modal fade" id="addThingsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="addThingsModalLabel"><strong id='addThingsModalTitle'></strong></h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="input-group add-things-container" style='margin-top:0.3rem;'>
                <input type="text" id="addThingsInput" style="width:180px;" placeholder='重新命名'>
                <div class='input-group-append'>
                    <button type="button" id="addThingsSubmit" class="btn btn-primary" style='padding: 0.1rem 0.2rem;'>確定</button>
                </div>
                <span id='addThingsError' style='color:red; font-size:0.7rem;'></span>
            </div>
        </div>
      </div>
    </div>
</div>


{% endblock content %}

{% block js %}

<script>

  $(function(){
    searchModule.init('showMoreSearchIcon', 'showMoreSearchInput', '#displayDataContainer button');
    searchModule.init('learningAreaSearchIcon', 'learningAreaSearchInput', '#learningAreaDataTableBody tr');
    searchModule.init('periodPanelSearchIcon', 'periodPanelSearchInput', '#periodPanelItems li');
    searchModule.init('exerciseAnswerSearchIcon', 'exerciseAnswerSearchInput', '#exerciseAnswerPanelContainer .row');
    searchModule.init('selfDefinedSearchIcon', 'selfDefinedSearchInput', '#allSubjectContainer h5');
    showMore();
    loadBtns();
    rename();
    prevPage();
    showLearningAreaData();
    showExerciseAreaData();
    copyLink();
    toLearningArea();
    periodPanel();
    viewPeriodPanel();
    viewAnswerPanel();
    panelTimeStructure();
    showSelfDefinedModal();
    addThingsModal();
    addThings();
  })

// Define a search module
const searchModule = (function() {
    // Private functions
    function toggleSearchInput(searchInputId) {
        $(`#${searchInputId}`).toggle();
        if ($(`#${searchInputId}`).is(":visible")) {
            $(`#${searchInputId}`).focus(); // Focus on the input field when it becomes visible
        }
    
        $(document).on('click', function(event) {
            if (!$(event.target).closest('.search-container').length && !$(event.target).is('.search-container')) {
                $(`#${searchInputId}`).hide();
            }
        });
    }
    
    function filter(searchInputId, searchArea) {
        let searchText = $(`#${searchInputId}`).val().toLowerCase();
    
        if(searchArea === '#learningAreaDataTableBody tr'){
            $(searchArea).each(function() {
                let text = $(this).find('.lecturer, .course').text().toLowerCase();

                if (text.includes(searchText)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
        });
        }else{
            // for showMoreModal, periodPanelModal 
            $(searchArea).each(function() {
                let text = $(this).text().toLowerCase();
        
                if (text.includes(searchText)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
        });
    }
    }
  
    // Public function
    function init(searchIconId, searchInputId, searchArea) {
        $(`#${searchIconId}`).click(function(event) {
            event.preventDefault();
            toggleSearchInput(searchInputId);
        });
        $(`#${searchInputId}`).on('input', function() {
            filter(searchInputId, searchArea);
        });
    }
  
    // Expose public functions
    return {
        init: init
    };
  })();

function showMore(){
    $('.display-data-container').on('click', '.show-more', function(){
        /* 處理標題 */
        let $this = $(this);
        let head = $(this).closest('.region-container').find('h5.header-style').text();
        let head2 = $(this).parent().parent().find('p').text();
        title = head + ' - ' + head2
        $('#showMoreModalTitle').text(title);

        /* 處理傳送到後台的資料 */
        let id = $this.attr('id');
        $.ajax({
            url: '/note/',
            type: 'post',
            data:{
                'purpose': 'showMore',
                'id': id,
            },
            dataType: 'JSON',
            success: function(res){
                if (res.status){
                    $('#displayDataContainer').empty();
                    if(id==='learningAreaCourseMore'){
                        // 製造學習影片區課名的按鈕
                        $.each(res.data, function(index, course){
                            let button = $('<button>').attr({'type':'button', 'class':'btn btn-outline-secondary learning-area-course col-sm-3', 'style':'padding: 0.1rem 0.2rem; margin:0.2rem;'}).text(' '+course);
                            let renameIcon = $('<i>').attr({'class':'bi bi-pen rename', 'style':'font-size:0.8rem;'});
                            button.prepend(renameIcon);
                            $('#displayDataContainer').append(button);
                            })
                    }else if(id==='learningAreaLecturerMore'){
                        // 製造學習影片區授課者的按鈕
                        $.each(res.data, function(index, lecturer){
                            let button = $('<button>').attr({'type':'button', 'class':'btn btn-outline-secondary learning-area-lecturer col-sm-3', 'style':'padding: 0.1rem 0.2rem; margin:0.2rem;'}).text(' '+lecturer);
                            let renameIcon = $('<i>').attr({'class':'bi bi-pen rename', 'style':'font-size:0.8rem;'});
                            button.prepend(renameIcon);    
                            $('#displayDataContainer').append(button);
                            })
                    }else{
                        // 製造習題答案區的科目按鈕
                        $.each(res.data, function(index, subject){
                            let button = $('<button>').attr({'type':'button', 'class':'btn btn-outline-secondary exercise-answer col-sm-3', 'style':'padding: 0.1rem 0.2rem; margin:0.2rem;'}).text(subject);    
                            $('#displayDataContainer').append(button);
                            })
                    }
                    $('#showMoreModal').modal('show');
                }else{
                    alert(res.error);
                }
            }
        }) // end of ajax
    })
}

function loadBtns(){
    $.ajax({
        url: '/note/',
        type: 'post',
        data:{
            'purpose': 'mainPageBtn',
        },
        dataType: 'JSON',
        success: function(res){
            if (res.status){
                $('#courseBtnContainer').empty();
                $('#lecturerBtnContainer').empty();
                $('#subjectBtnContainer').empty();
                
                //製造學習影片區課名的按鈕
                $.each(res.data.course_list, function(index, course){
                    let button = $('<button>').attr({'type':'button', 'class':'btn btn-outline-secondary learning-area-course', 'style':'padding: 0.1rem 0.2rem; margin:0.2rem;', 'outside': true}).text(' '+course)
                    let renameIcon = $('<i>').attr({'class':'bi bi-pen rename', 'style':'font-size:0.8rem;'});
                    button.prepend(renameIcon);
                    if (index === 0) {
                        button.css('margin-left', '1.5rem');
                    }
                    $('#courseBtnContainer').append(button)
                }); 
                let courseMoreBtn = $('<button>').attr({'id':'learningAreaCourseMore', 'type':'button', 'class':'btn btn-outline-dark show-more', 'style':'padding: 0.1rem 0.2rem;'});
                let courseMoreIcon = $('<i>').attr({'class':'fa-solid fa-ellipsis'});
                courseMoreBtn.append(courseMoreIcon);
                $('#courseBtnContainer').append(courseMoreBtn);

                //製造學習影片區授課者的按鈕
                $.each(res.data.lecturer_list, function(index, lecturer){
                    let button = $('<button>').attr({'type':'button', 'class':'btn btn-outline-secondary learning-area-lecturer', 'style':'padding: 0.1rem 0.2rem; margin:0.2rem;', 'outside': true}).text(' '+lecturer)
                    let renameIcon = $('<i>').attr({'class':'bi bi-pen rename', 'style':'font-size:0.8rem;'});
                    button.prepend(renameIcon);
                    if (index === 0) {
                        button.css('margin-left', '1.5rem');
                    }
                    $('#lecturerBtnContainer').append(button)
                }); 
                let lecturerMoreBtn = $('<button>').attr({'id':'learningAreaLecturerMore', 'type':'button', 'class':'btn btn-outline-dark show-more', 'style':'padding: 0.1rem 0.2rem;'});
                let lecturerMoreIcon = $('<i>').attr({'class':'fa-solid fa-ellipsis'});
                lecturerMoreBtn.append(lecturerMoreIcon);
                $('#lecturerBtnContainer').append(lecturerMoreBtn);

                // 製造習題答案區的按鈕
                $.each(res.data.exercise_list, function(index, subject){
                    let button = $('<button>').attr({'type':'button', 'class':'btn btn-outline-secondary exercise-answer', 'style':'padding: 0.1rem 0.2rem; margin:0.2rem;', 'outside': true}).text(subject)
                    if (index === 0) {
                        button.css('margin-left', '1.5rem');
                    }
                    $('#subjectBtnContainer').append(button)
                });
                let subjectMoreBtn = $('<button>').attr({'id':'exerciseAnsMore', 'type':'button', 'class':'btn btn-outline-dark show-more', 'style':'padding: 0.1rem 0.2rem;'});
                let subjectMoreIcon = $('<i>').attr({'class':'fa-solid fa-ellipsis'});
                subjectMoreBtn.append(subjectMoreIcon);
                $('#subjectBtnContainer').append(subjectMoreBtn);
            }else{
                alert(res.error);
            }
        }
    }); // end of ajax
}

function rename(){
    const invalidCharacters = ['<', '>', ':', '"', '/', '\\', '|', '?', '*'];
    let oldName = undefined;
    let $button = undefined;
    let fromCourse = false;

    // 點擊重新命名圖標
    $('.display-data-container, #displayDataContainer').on('click', '.rename', function(event){
        event.stopPropagation();
        $button = $(this).parent();
        oldName = $(this).parent().text().replace(' ', ''); //此時開頭還有空白鍵, 要把它去除 
        if($button.hasClass('learning-area-course')){// 判斷按鈕是在課名還是授課者被按的
            fromCourse = true;
            $('#renameModalTitle').text('重新命名-課名');
        }else{
            $('#renameModalTitle').text('重新命名-授課者');
        }
        if ($button.attr('outside')){
            $('.prev-page-container').hide();
            $('#oldName').text(oldName);
            $('#renameError').empty();
            $('#renameInput').val('');
            $('#showMoreModal').modal('hide');
            $('#renameModal').modal('show');
        }else{
            $('.prev-page-container').show();
            $('#oldName').text(oldName);
            $('#renameError').empty();
            $('#renameInput').val('');
            $('#showMoreModal').modal('hide');
            $('#renameModal').modal('show');
        }
    });
        
    // 點擊確定按鈕
    $('#renameSubmit').click(function () {
        let newName = $('#renameInput').val();
        if (newName.trim().length ===0) {
            $('#renameError').text('輸入不可為空');
            $('#renameInput').val('');
            return;
        }
        
        for (let i = 0; i < invalidCharacters.length; i++) {
            if (newName.includes(invalidCharacters[i])) {
                $('#renameError').text('名稱不可包含此字元: ' + invalidCharacters[i]);
                return; // Stop the loop after the first invalid character is found
            }
        }

        // 去後台修改資料夾名稱
        $.ajax({
            url: '/note/',
            type: 'post',
            data:{
                'purpose': 'renameLearning',
                'fromCourse': fromCourse,
                'oldName': oldName,
                'newName': newName,
            },
            dataType: 'JSON',
            success: function(res){
                if(res.status){
                    fromCourse = false;
                    alert(res.data);
                    $button.html('<i class="bi bi-pen rename" style="font-size:0.8rem;"></i> ' + newName);
                    $('#renameModal').modal('hide');
                    $('#renameInput').val('');
                    if (!$button.attr('outside')){
                        $('#showMoreModal').modal('show');
                    }
                }else{
                    alert(res.error);
                }
            }
        }); // end of ajax
        })
}

function prevPage(){
    $('.prev-page-container').on('click', '#renamePrevious', function(event){
        event.preventDefault();
        $('#renameModal').modal('hide');
        $('#showMoreModal').modal('show');
    });
    
    $('#learningAreaTopContainer').on('click', '#learningAreaPrevious', function(event){
        event.preventDefault();
        $('#learningAreaModal').modal('hide');
        $('#showMoreModal').modal('show');
    });

    $('#periodPanelPrevPageContainer').on('click', '#periodPanelPrevious', function(event){
        event.preventDefault();
        $('#periodPanelModal').modal('hide');
        $('#learningAreaModal').modal('show');

    });
    $('#exerciseAnswerPrevPageContainer').on('click', '#exerciseAnswerPrevious', function(event){
        event.preventDefault();
        $('#exerciseAnswerModal').modal('hide');
        $('#showMoreModal').modal('show');
    });
}

function showLearningAreaData(){
    $('.display-data-container, #displayDataContainer').on('click', '.learning-area-course, .learning-area-lecturer', function(){
        let $button = $(this);
        let courseFilterText = undefined;
        let lecturerFilterText = undefined;
        if ($button.hasClass('learning-area-course')){
            courseFilterText = $button.text().replace(' ', ''); //此時開頭還有空白鍵, 要把它去除
            $('#learningAreaModalTitle').text(courseFilterText);
        }else{
            lecturerFilterText = $button.text().replace(' ', '');
            $('#learningAreaModalTitle').text(lecturerFilterText);
        }
        $('#showMoreModal').modal('hide');
        $.ajax({
            url: '/note/',
            type: 'post',
            data:{
                'purpose': 'showLearningAreaData',
                'courseFilterText': courseFilterText,
                'lecturerFilterText': lecturerFilterText,
            },
            dataType: 'JSON',
            success: function(res){
                if(res.status){
                    $('#learningAreaDataTableBody').empty();
                    let length = res.data.length.toString();
                    $('#totalRow').text('共'+length+'項')
                    $.each(res.data, function(index, dataList){
                        let tableRow = $('<tr>').attr({'class':'to-period-panel-modal'});
                        let thead = $('<th>').attr({'scope':'row'}).text(index+1);
                        let lecturerCell = $('<td>').attr({'class':'lecturer'}).text(dataList[0]);
                        let courseCell = $('<td>').attr({'class':'course'}).text(dataList[1]);
                        // video ID那格要製作下拉選單
                        let videoIdCell = $('<td>');
                        let dropdownDiv = $('<div>').attr({'class':'btn-group dropright'});
                        let aVideoId = $('<a>').attr({'href':'#', 'class':'dropdown-toggle video-id', 'data-toggle':'dropdown', 'aria-expanded':'false'}).text(dataList[2]);
                        let dropmenuDiv = $('<div>').attr({'class':'dropdown-menu'});
                        let aCopyLink = $('<a>').attr({'href':'#', 'class':'dropdown-item copy-link'}).text('複製影片連結');
                        let aToLearningArea = $('<a>').attr({'href':'#', 'class':'dropdown-item to-learning-area'}).text('前往學習區');
                        dropmenuDiv.append(aCopyLink);
                        dropmenuDiv.append(aToLearningArea);
                        dropdownDiv.append(aVideoId);
                        dropdownDiv.append(dropmenuDiv);
                        videoIdCell.append(dropdownDiv);

                        tableRow.append(thead);
                        tableRow.append(lecturerCell);
                        tableRow.append(courseCell);
                        tableRow.append(videoIdCell);
                        $('#learningAreaDataTableBody').append(tableRow);
                    });

                    if ($button.attr('outside')){
                        //不要顯示上一頁圖標
                        $('#learningAreaPrevious').hide();
                        $('#learningAreaModal').modal('show');
                    }else{
                        $('#learningAreaPrevious').show();
                        $('#learningAreaModal').modal('show');
                    }
                }else{
                    alert(res.error);
                }
            }
        }); // end of ajax
        
    });
}

function showExerciseAreaData(){
    $('.display-data-container, #displayDataContainer').on('click', '.exercise-answer', function(){
        let $button = $(this);
        let chineseSubject = $button.text();
        let modalTitle = '習題答案' + ' - ' + chineseSubject;
        $('#exerciseAnswerModalTitle').text(modalTitle);
        $('#showMoreModal').modal('hide');

        $.ajax({
            url: '/note/',
            type: 'post',
            data:{
                'purpose': 'showExerciseAreaData',
                'chineseSubject': chineseSubject,
            },
            dataType: 'JSON',
            success: function(res){
                if(res.status){
                    $('#exerciseAnswerPanelContainer').empty();

                    $.each(res.data.panel_list, function(index, panelName){
                        let divRow = $('<div>').attr({'class':'row'});
                        let divGrid = $('<div>').attr({'class':'col-sm-12 d-flex align-items-center'});
                        let panelIcon = $('<i>').attr({'class':'fa-solid fa-pen-to-square note-panel', 'style':'margin-right:0.2rem;'});
                        let a = $('<a>').attr({'href':'#', 'class':'answer-panel', 'subject':res.data.subject}).text(panelName.replace(/\[\]/g, '-'));
                        divGrid.append(panelIcon);
                        divGrid.append(a);
                        divRow.append(divGrid);
                        $('#exerciseAnswerPanelContainer').append(divRow);
                    });

                    if ($button.attr('outside')){
                        //不要顯示上一頁圖標
                        $('#exerciseAnswerPrevious').hide();
                        $('#exerciseAnswerModal').modal('show');
                    }else{
                        $('#exerciseAnswerPrevious').show();
                        $('#exerciseAnswerModal').modal('show');
                    }
                }else{
                    alert(res.error);
                }
            }
        }); // end of ajax
    })
}

function copyLink(){
    $('#learningAreaDataTableBody, #periodPanelModalTitle').on('click', '.copy-link', function(event) {
        event.preventDefault();
        let clickedButtonId = $(event.target).closest('[id]').attr('id');
        let videoId = undefined;
        let videoLink = undefined;

        // Get the text of the clicked link
        if (clickedButtonId==='learningAreaDataTableBody'){
            videoId = $(this).parent().prev().text();
        }else{
            videoId = $(this).parent().prev().attr('video-id');
        }
        
        
        
        if (videoId.length === 11){ // yt的video id包含11個字元
            let ytPrefix = 'https://www.youtube.com/watch?v=';
            videoLink = ytPrefix + videoId;
        }else if (videoId.length === 12){ // bilibili的video id包含12個字元
            let biliPrefix = 'https://www.bilibili.com/video/';
            videoLink = biliPrefix + videoId;
        }
        
        // Create a temporary textarea element
        let $temp = $('<textarea>');
        $(this).closest('.modal').append($temp);
        $temp.val(videoLink).select();
        document.execCommand('copy');
        $temp.remove();
      });
}

function toLearningArea(){
    $('#learningAreaDataTableBody, #periodPanelModalTitle').on('click', '.to-learning-area', function(event) {
        event.preventDefault();
        let clickedButtonId = $(event.target).closest('[id]').attr('id');

        let lecturer = undefined;
        let course = undefined;
        let videoId = undefined;
        let videoLink = undefined;

        // 獲取這部影片的基本資訊
        if(clickedButtonId==='learningAreaDataTableBody'){
            lecturer = $(this).closest('.to-period-panel-modal').find('.lecturer').text();
            course = $(this).closest('.to-period-panel-modal').find('.course').text();
            videoId = $(this).parent().prev().text();
        }else{
            lecturer = $(this).parent().prev().text().split(' - ')[0];
            course = $(this).parent().prev().text().split(' - ')[1];
            videoId = $(this).parent().prev().attr('video-id');
        }
        
        // 由video id得到影片連結
        if (videoId.length === 11){ // yt的video id包含11個字元
            let ytPrefix = 'https://www.youtube.com/watch?v=';
            videoLink = ytPrefix + videoId;
        }else if (videoId.length === 12){ // bilibili的video id包含12個字元
            let biliPrefix = 'https://www.bilibili.com/video/';
            videoLink = biliPrefix + videoId;
        }

        // 開一個新分頁(在同一個視窗中)給學習區
        let learningAreaUrl = 'http://127.0.0.1:8000/learning/';
        let newTab = window.open(learningAreaUrl, '_blank'); 

        // 自learning.html中的filmInfoSave函數中拿過來的 --> 只有那些selector會用到learning.html中DOM的id或class時, 才需要加上newTab.document(下一行有例子), 其餘完全不用動!
        // 舉例: $("#phase").empty() -> $("#phase", newTab.document).empty()
        $(newTab).on('load', function(){
            $.ajax({
                url: "/learning/",
                type: "post",
                data: {
                    'purpose':'newTab',
                    'url': videoLink,
                    'lecturer': lecturer,
                    'course': course,
                    'videoId': videoId,
                },
                dataType: "JSON",
                success: function(res){
                  if(res.status){
                    $("#phase", newTab.document).empty()
                    //填寫正確就在頁面中顯示
                    $("#courLectName", newTab.document).text(res.course+"-"+res.lecturer)
                    $("#filmUrl", newTab.document).attr('src', res.url)
                    
                    //把此部影片的資訊儲存到用戶的本地瀏覽器, 以使重新整理以後還可以是這部影片及其相關資訊
                    localStorage.setItem('lastWatchedVideoUrl', res.url); // 影片的url
                    localStorage.setItem('lastWatchedVideoName', res.course+"-"+res.lecturer) // 課名-講者名
                    localStorage.setItem('lastWatchedVideoNotes', JSON.stringify(res.start_end_dict)); // 影片的筆記
                    
                    // 把url影片對應的資料夾裡面的每一份筆記檔案展示在段落重點區  
                    $.each(res.start_end_dict, function(key, value){ 
                      nameArray = key.split("-");
                      // 創建li標籤, 裡頭包含icon, a和strong標籤
                      let li = $('<li>').attr({'start':value.start, 'end':value.end})
                      let a = $('<a>').attr('href', '#');
                      let strong = $('<strong>').attr('class','film-second').text(nameArray[0]);
                      let notePanelIcon = $('<i>').attr({'class': 'fa-solid fa-pen-to-square note-panel', 'style': 'margin-right:0.3rem;'})
                      // 創建p標籤, 並且把它加進上面已經創好的li標籤裡
                      let p = $('<p>').attr({'style': 'position:relative;',}).text(nameArray[1]);
                      let deletePanelIcon = $('<i>').attr({'class': 'fa-solid fa-trash-can delete-panel', 'style': 'position: absolute; bottom: 0; right: 0;'});
                      a.append(strong);
                      p.append(deletePanelIcon);
                      li.append(notePanelIcon);
                      li.append(a);
                      li.append(p);
        
                      // 把整個li標籤加進ul標籤
                      $('#phase', newTab.document).append(li);
                    });
                    $("#filmInfoModal", newTab.document).modal("hide");
        
                    }else{ 
                      // 填寫錯誤就產生錯誤訊息
                      $.each(res.errors, function(name,errorList){
                        $('#id_' + name, newTab.document).next().text(errorList[0]);
                    })
                  }
                }
            })
          });
    });
}

function periodPanel(){
    $('#learningAreaDataTableBody').on('click', '.to-period-panel-modal', function(event){
        if ($(event.target).not('.dropdown-toggle, .copy-link, .to-learning-area').length) {
            $('#learningAreaModal').modal('hide');

            let lecturer = $(this).find('.lecturer').text();
            let course = $(this).find('.course').text();
            let videoId = $(this).find('.video-id').text();
            let title = lecturer + ' - ' + course;
            $('#dropdownTitle').text(title);
            $('#dropdownTitle').attr('video-id', videoId);

            
            $.ajax({
                url: '/note/',
                type: 'post',
                data: {
                    'purpose': 'notePanelTags',
                    'videoId': videoId,
                },
                dataType: 'JSON',
                success: function(res){
                    if(res.status){
                        // 先把原本已有的刪除
                        $('#periodPanelItems').empty();

                        // 開始建DOM標籤
                        $.each(res.data, function(key, value){ 
                            nameArray = key.split("-");
                            // 創建li標籤, 裡頭包含icon, a和strong標籤
                            let li = $('<li>').attr({'start':value.start, 'end':value.end})
                            let a = $('<a>').attr({'href':'#', 'class':'period-panel', 'videoId':videoId}).text(nameArray[0]+'-'+nameArray[1]);
                            let notePanelIcon = $('<i>').attr({'class': 'fa-solid fa-pen-to-square note-panel', 'style': 'margin-right:0.3rem;'})
                            li.append(notePanelIcon);
                            li.append(a);
              
                            // 把整個li標籤加進ul標籤
                            $('#periodPanelItems').append(li);
                          });
                            $('#periodPanelModal').modal('show');
                    }else{
                        alert(res.error);
                    }
                }
            }); // end of ajax
            }
        });    
}

function viewPeriodPanel(){
    // 使用者點擊跳出筆記板內容, 但現在還沒有筆記板功能, 所以先去存放筆記板的相對應路徑來下載檔案(並且檔案是用.txt代替)
    $('#periodPanelItems').on('click', '.period-panel', function(event){
        event.preventDefault();
        let panelName = $(this).text();
        let videoId = $(this).attr('videoId')
        $.ajax({
            url: '/note/',
            type: 'post',
            data:{
                'purpose': 'showingNotePanel',
                'panelName': panelName,
                'videoId': videoId,
            },
            dataType: 'JSON',
            success: function(res){
                if(res.status){
                    let newTab = window.open('/view_panel/?path=' + encodeURIComponent(res.data) + '&panelName=' + encodeURIComponent(panelName), '_blank',);
                    setInterval(function() { // 設置newTab的title, 重新整理以後也會正確
                        if (newTab.closed) {
                            clearInterval();
                        } else {
                            newTab.document.title = panelName;
                        }
                    }, 1000);
                }else{
                    alert(res.error)
                }
            }
        }); // end of ajax
    });
}

function viewAnswerPanel(){
    // 使用者點擊跳出筆記板內容, 但現在還沒有筆記板功能, 所以先去存放筆記板的相對應路徑來下載檔案(並且檔案是用.txt代替)
    $('#exerciseAnswerPanelContainer').on('click', '.answer-panel', function(event){
        event.preventDefault();
        let panelName = $(this).text();
        let subject = $(this).attr('subject')
        $.ajax({
            url: '/note/',
            type: 'post',
            data:{
                'purpose': 'showingAnswerPanel',
                'panelName': panelName,
                'subject': subject,
            },
            dataType: 'JSON',
            success: function(res){
                if(res.status){
                    let newTab = window.open('/view_panel/?path=' + encodeURIComponent(res.data) + '&panelName=' + encodeURIComponent(panelName), '_blank',);
                    setInterval(function() { // 設置newTab的title, 重新整理以後也會正確
                        if (newTab.closed) {
                            clearInterval();
                        } else {
                            newTab.document.title = panelName;
                        }
                    }, 1000);
                }else{
                    alert(res.error);
                }
            }
        }); // end of ajax
    });
}

function panelTimeStructure(){ //複製learning.html的timeStructure, 只有把phase -> periodPanelItems和 timeSort -> sortIcon
    $('#sortIcon').click(function(event){
      event.preventDefault();  
      var $periodPanelItems = $("#periodPanelItems");
      
      // 大時段包含小時段
      var $liItems = $periodPanelItems.children("li");
      $liItems.each(function() {
          var $currentItem = $(this);
          var currentStart = parseInt($currentItem.attr("start"));
          var currentEnd = parseInt($currentItem.attr("end"));
  
          $liItems.each(function() {
              var $otherItem = $(this);
              if ($currentItem.is($otherItem)) return; // Skip comparing with itself
              var otherStart = parseInt($otherItem.attr("start"));
              var otherEnd = parseInt($otherItem.attr("end"));
  
              if (otherStart >= currentStart && otherEnd <= currentEnd) {
                  // The other item is completely contained within the current item
                  var $subList = $currentItem.children("ul");
                  if (!$subList.length) {
                      $subList = $("<ul></ul>");
                      $currentItem.append($subList);
                  }
                  $subList.append($otherItem);
              }
          });
      });

      // 排序
      var $periodPanelItems = $("#periodPanelItems");

      // Sort nested <li> elements within their own layer
      $periodPanelItems.find('ul').each(function() {
          var $subList = $(this);
          var subLis = $subList.children('li').get();
          subLis.sort(function(a, b) {
              var end1 = parseInt($(a).attr("end"));
              var end2 = parseInt($(b).attr("end"));

              if (end1 !== end2) {
                  //console.log('sort by end');
                  return end1 - end2; // Sort by end attribute
              } else {
                  var start1 = parseInt($(a).attr("start"));
                  var start2 = parseInt($(b).attr("start"));
                  //console.log('sort by start');
                  return start1 - start2; // Sort by start attribute if end attributes are equal
              }
          });
          $.each(subLis, function(idx, itm) { $subList.append(itm); });
      });

      // Sort the first layer of <li> elements
      var lis = $("#periodPanelItems > li");

      lis.sort(function(a, b) {
          var end1 = parseInt($(a).attr("end"));
          var end2 = parseInt($(b).attr("end"));

          if (end1 !== end2) {
              //console.log('sort by end');
              return end1 - end2; // Sort by end attribute
          } else {
              var start1 = parseInt($(a).attr("start"));
              var start2 = parseInt($(b).attr("start"));
              //console.log('sort by start');
              return start1 - start2; // Sort by start attribute if end attributes are equal
          }
      });

      // Reorder the <li> elements in #periodPanelItems
      $("#periodPanelItems").empty().append(lis);
  });
}

function showSelfDefinedModal(){
    $('#selfDefined').click(function(){
        // 還要生成標籤
        $('#selfDefinedModal').modal('show');
    })
}

function addThingsModal(){
    $('.add-things').click(function(){
        let folder = $(this).attr('id').includes('Folder');
        if (folder){
            $('#addThingsModalTitle').text('新建資料夾');
            $('#addThingsInput').attr('placeholder', '輸入資料夾名稱');
        }else{
            $('#addThingsModalTitle').text('新建筆記板');
            $('#addThingsInput').attr('placeholder', '輸入筆記板名稱');
        }
        $('#addThingsModal').modal('show');
    })
}

function addThings(){
    let folder = undefined;
    let path = '';
    $(".self-defined-path").each(function() {
        // Concatenate the text of each <a> tag
        path += $(this).text();
    });


    // 點擊新增圖標
    $('.add-things').click(function(){
        folder = $(this).attr('id').includes('Folder');
        if (folder){
            $('#addThingsModalTitle').text('新建資料夾');
            $('#addThingsInput').attr('placeholder', '輸入資料夾名稱');
        }else{
            $('#addThingsModalTitle').text('新建筆記板');
            $('#addThingsInput').attr('placeholder', '輸入筆記板名稱');
        }
        $('#addThingsModal').modal('show');
    });

    // 點擊確定按鈕
    $('#addThingsSubmit').click(function(){
        const invalidCharacters = ['<', '>', ':', '"', '/', '\\', '|', '?', '*'];
        let name = $('#addThingsInput').val();
        if (name.trim().length ===0) {
            $('#addThingsError').text('不可為空');
            $('#addThingsInput').val('');
            return;
        }
        
        for (let i = 0; i < invalidCharacters.length; i++) {
            if (name.includes(invalidCharacters[i])) {
                $('#addThingsError').text('名稱不可包含此字元: ' + invalidCharacters[i]);
                return; // Stop the loop after the first invalid character is found
            }
        }

        if (folder){ //看看有沒有重複名稱的資料夾
            $('.self-defined-folder').each(function() {
                folderlName = $(this).text();
                if (name===panelName){
                    alert('已有相同名稱的資料夾');
                    return;
                }
            });
            
        }else{ //看看有沒有重複名稱的筆記板
            name = name + '.txt'; // 新增筆記板要加副檔名, 一樣先用.txt展示
            $('.self-defined-panel').each(function() {
                panelName = $(this).text();
                if (name===panelName){
                    alert('已有相同名稱的筆記板');
                    return;
                }
            });
        }

        $.ajax({
            url: '/note/',
            type: 'post',
            data:{
                'purpose': 'addThings',
                'name': name,
                'path': path, // path傳到後台以後要.split(' > ')
            },
            dataType: 'JSON',
            success: function(res){
                if(res.status){
                    if(folder){
                        // 造folder的標籤
                    }else{
                        // 造panel的標籤
                    }
                }else{
                    alert(res.error);
                }
            }
        }); // end of ajax
    });
}

</script>

{% endblock js %}