.display-data-row {
    display: flex;
    margin-top: 1rem;
}

.display-data-box {
    height: 200px; /* Adjust height as needed */
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: #f9f9f9; 
    transition: background-color 0.3s; 
}

.display-data-box:hover {
    background-color: #eaeaea; /* Change background color on hover */
    cursor: pointer; /* Change cursor style to pointer */
}

.description, .date-answer {
    font-size: 1.1rem; /* Increase font size slightly for better readability */
    color: #333; /* Darker text color for better contrast */
    line-height: 1.4; /* Increase line height for better spacing */
}

.period, .author-id {
    font-size: 0.8rem;
    color: #666;
}

.subject-name, .location {
    color: #007bff;
    font-weight: bold;
    margin-top: 0.3rem;
}

.search-container-group {
    display: none;
}

/* 搜尋框的樣式 */
.search-container {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.search-icon {
    /*position: absolute;
    left: 3px;
    top: 57%;*/
    font-size: 25px; /* Adjusted size */
    /*transform: translateY(-45%);*/
    color: #888;
}

.search-input {
    margin-left: 5px;
    padding-left: 5px; /* Adjust as needed */
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 30px; /* Adjust as needed */
    width: 180px;
    font-size: 18px;
    outline: none;
}