{% extends "navbar.html" %}
{% load static %}

{% block exercise_active %}
active
{% endblock exercise_active %}

{% block exercise_active_span %}
<span class="sr-only">(current)</span>
{% endblock exercise_active_span %}
<!-- 上面這些完善導航條的外觀顯示 -->

{% block css %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock css %}



{% block content %}

<div class='container'>
  <!-- 熱門科目的按鈕區 -->
  <div style='margin-top:0.5rem;'>
    <div>
      <!-- exercise各科目的資料夾名稱要與這邊subject屬性一樣 -->
      <button id="calculusBtn" subject='calculus' type="button" class="btn btn-sm btn-outline-secondary subjectBtn" style='padding: 0.1rem 0.2rem;'>微積分</button>
      <button id="linAlgeBtn" subject='linear_algebra' type="button" class="btn btn-sm btn-outline-secondary subjectBtn" style='padding: 0.1rem 0.2rem;'>線性代數</button>
      <button id="GenPhyBtn" subject='general_physics' type="button" class="btn btn-sm btn-outline-secondary subjectBtn" style='padding: 0.1rem 0.2rem;'>普通物理</button>    
    </div>
    {% comment %} <div>
        <a class="btn btn-sm btn-outline-secondary" style='padding: 0.1rem 0.2rem;' href="#">微積分</a>
        <a class="btn btn-sm btn-outline-secondary" style='padding: 0.1rem 0.2rem;' href="#">線性代數</a>
        <a class="btn btn-sm btn-outline-secondary" style='padding: 0.1rem 0.2rem;' href="#">普通物理</a>
    </div> {% endcomment %}
  </div>
  
  <!-- 各科目的modal -->
  <div class="modal fade" id="exerciseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="exerciseModalLabel"><strong id='exerciseModalTitle'></strong></h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class='container-fluid'>
            <div class='d-flex'>
              <div class='ml-auto'>
                <button id="oneBtn" type="button" class="btn btn-sm btn-warning">試題</button>
              </div>
            </div>
            <div id='questions-container'>
              <div period='present'>
                <h6><strong>當期試題</strong></h6>
              </div>
              <div period='past'>
                <h6 style='margin-top:0.3rem;'><strong>歷期試題</strong></h6> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 答案區的modal -->
<div class="modal fade" id="answerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="answerModalLabel">Modal title</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>題號</h6>
        <table id='questionNumTable'>
          <tr>
              <td><a href='#' class='question-number'>1</a></td>
              <td><a href='#' class='question-number'>2</a></td>
              <td><a href='#' class='question-number'>3</a></td>
              <td><a href='#' class='question-number'>4</a></td>
          </tr>
          <tr>
              <td><a href='#' class='question-number'>5</a></td>
              <td><a href='#' class='question-number'>6</a></td>
              <td><a href='#' class='question-number'>7</a></td>
              <td><a href='#' class='question-number'>8</a></td>
          </tr>
          <tr>
              <td><a href='#' class='question-number'>9</a></td>
              <td><a href='#' class='question-number'>10</a></td>
              <td><a href='#' class='question-number'>11</a></td>
              <td><a href='#' class='question-number'>12</a></td>
          </tr>
      </table>
      </div>
    </div>
  </div>
</div>

<!-- 個別題號的modal -->
<div class="modal fade" id="questionNumModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ansQuestionNumModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.min.js"></script>

<script>
  var SUBJECT = undefined;

  $(function(){
    subjectBtn();
    oneBtn();
    regularQuestion();
    answerArea();
    ansQuestionNum();
  })

  function subjectBtn(){ 
    $('.subjectBtn').click(function(){
      SUBJECT = $(this).attr('subject');
      let title = $(this).text();
      $.ajax({
        url: '/exercise/',
        type: 'post',
        data: {
          'purpose': 'makeTags',
          'SUBJECT': SUBJECT
        },
        dataType: 'JSON',
        success : function(res){
          if (res.status){
            // 先刪除已存的, 不然重複開啟按鈕會不斷生成標籤
            $('div[period="present"] .row').remove();
            $('div[period="past"] .row').remove();

            // 創建當期試題(present)的標籤
            let divRow = $('<div>').attr('class', 'row');
            let divQueCol = $('<div>').attr('class', 'col-sm-5');
            let divAnsCol = $('<div>').attr('class', 'col-sm-5');
            let pdfIcon = $('<i>').attr('class', 'fa-regular fa-file-pdf');
            let folderIcon = $('<i>').attr('class', 'fa-regular fa-folder');
            let aQuestion = $('<a>').attr({'href':'#', 'class':'regular-question', 'date': res.present}).text(res.present+'.pdf');
            let aAnswer = $('<a>').attr({'href':'#', 'class':'regular-answer', 'date': res.present}).text('答案區');
            divQueCol.append(pdfIcon);
            divQueCol.append(aQuestion);
            divAnsCol.append(folderIcon);
            divAnsCol.append(aAnswer);
            divRow.append(divQueCol);
            divRow.append(divAnsCol);
            $('div[period="present"] h6').after(divRow);

            // 創建歷期試題(past)的標籤
            $.each(res.past, function(index, date){
              let divRow = $('<div>').attr('class', 'row');
                let divQueCol = $('<div>').attr('class', 'col-sm-5');
                let divAnsCol = $('<div>').attr('class', 'col-sm-5');
                let pdfIcon = $('<i>').attr('class', 'fa-regular fa-file-pdf');
                let folderIcon = $('<i>').attr('class', 'fa-regular fa-folder');
                let aQuestion = $('<a>').attr({'href':'#', 'class':'regular-question', 'date': date}).text(date+'.pdf');
                let aAnswer = $('<a>').attr({'href':'#', 'class':'regular-answer', 'date': date}).text('答案區');
                divQueCol.append(pdfIcon);
                divQueCol.append(aQuestion);
                divAnsCol.append(folderIcon);
                divAnsCol.append(aAnswer);
                divRow.append(divQueCol);
                divRow.append(divAnsCol);
                $('div[period="past"] h6').after(divRow);
            });
            
            $('#exerciseModalTitle').text(title);
            $('#exerciseModal').modal('show');
          }else{
            alert(res.error);
          }
        }
      });
    });
  }

  function oneBtn(){
    $('#oneBtn').click(function(){
      $.ajax({
        url:'/exercise/',
        type:'post',
        data:{ 
          'purpose': 'oneBtn',
          'SUBJECT': SUBJECT,
        },
        success: function(res){
          if(res.status){
            window.location.href = '/download_pdf/?path=' + encodeURIComponent(res.pdf_path);
          }else {
            alert(res.error)
          }
        }
      });
    });
  }

  function regularQuestion(){
    $('#questions-container').on('click', '.regular-question', function(){
      let date = $(this).attr('date');
      let fileName = $(this).text();
      let period = $(this).closest('[period]').attr('period');
      // console.log(period)

    $.ajax({
      url:'/exercise/',
      type:'post',
      data:{
        'purpose': 'regular',
        'SUBJECT': SUBJECT,
        'date': date,
        'fileName': fileName,
        'period': period,
      },
      success: function(res){
        if (res.status){
          window.location.href = '/download_pdf/?path=' + encodeURIComponent(res.pdf_path);
        }else{
          alert(res.error)
        }
      }
    });
  });
}
        
function answerArea(){
  $('#questions-container').on('click', '.regular-answer', function(){
    $('#answerModalLabel').text($(this).attr('date'));
    $('#answerModal').modal('show');
    $('#exerciseModal').modal('hide');
  })
}

function ansQuestionNum(){
  $('#questionNumTable').on('click', '.question-number', function(){
    console.log('!')
    $('#questionNumModal').modal('show');
  })
}

</script>

{% endblock js %}