{% extends "navbar.html" %}
{% load static %}

{% block exercise_active %}
active
{% endblock exercise_active %}

{% block exercise_active_span %}
<span class="sr-only">(current)</span>
{% endblock exercise_active_span %}
<!-- 上面這些完善導航條的外觀顯示 -->

{% block css %}

<link rel="stylesheet" href="{% static 'css/exercise_style.css' %}">

{% endblock css %}



{% block content %}

<div class='container'>
  <!-- 熱門科目的按鈕區 -->
  <div style='margin-top:0.5rem;'>
    <div>
      <!-- exercise各科目的資料夾名稱要與這邊subject屬性一樣 -->
      <button id="calculusBtn" subject='calculus' type="button" class="btn btn-sm btn-outline-secondary subjectBtn" style='padding: 0.1rem 0.2rem;'>微積分</button>
      <button id="linAlgeBtn" subject='linear_algebra' type="button" class="btn btn-sm btn-outline-secondary subjectBtn" style='padding: 0.1rem 0.2rem;'>線性代數</button>
      <button id="GenPhyBtn" subject='general_physics' type="button" class="btn btn-sm btn-outline-secondary subjectBtn" style='padding: 0.1rem 0.2rem;'>普通物理</button>    
    </div>
    {% comment %} <div>
        <a class="btn btn-sm btn-outline-secondary" style='padding: 0.1rem 0.2rem;' href="#">微積分</a>
        <a class="btn btn-sm btn-outline-secondary" style='padding: 0.1rem 0.2rem;' href="#">線性代數</a>
        <a class="btn btn-sm btn-outline-secondary" style='padding: 0.1rem 0.2rem;' href="#">普通物理</a>
    </div> {% endcomment %}
  </div>
  
  <!-- 各科目的modal -->
  <div class="modal fade" id="exerciseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="exerciseModalLabel"><strong id='exerciseModalTitle'></strong></h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class='container-fluid'>
            <div class='d-flex'>
              <div class='ml-auto'>
                <button id="oneBtn" type="button" class="btn btn-sm btn-warning">試題</button>
              </div>
            </div>
            <div id='questions-container'>
              <div period='present'>
                <h6><strong>當期試題</strong></h6>
              </div>
              <div period='past'>
                <h6 style='margin-top:0.3rem;'><strong>歷期試題</strong></h6> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 答案區的modal -->
<div class="modal fade" id="answerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="answerModalLabel">Modal title</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id= 'ansTopContainer' style='margin-bottom:0.2rem;'>
          <a href='#' id='answer-previous' class='previous'><i class="fa-solid fa-arrow-left"></i></a>
        </div>
        <h6><strong>題號</strong></h6>
        <table id='questionNumTable'>
          <tr>
              <td><a href='#' class='question-number'>1</a></td>
              <td><a href='#' class='question-number'>2</a></td>
              <td><a href='#' class='question-number'>3</a></td>
              <td><a href='#' class='question-number'>4</a></td>
          </tr>
          <tr>
              <td><a href='#' class='question-number'>5</a></td>
              <td><a href='#' class='question-number'>6</a></td>
              <td><a href='#' class='question-number'>7</a></td>
              <td><a href='#' class='question-number'>8</a></td>
          </tr>
          <tr>
              <td><a href='#' class='question-number'>9</a></td>
              <td><a href='#' class='question-number'>10</a></td>
              <td><a href='#' class='question-number'>11</a></td>
              <td><a href='#' class='question-number'>12</a></td>
          </tr>
      </table>
      </div>
    </div>
  </div>
</div>

<!-- 個別題號的modal -->
<div class="modal fade" id="questionNumModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="ansQuestionNumModalLabel">Modal title</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id= 'queNumTopContainer' class='container'>
          <div class='d-flex'>
            <div id='prevPageContainer'>
              <a href='#' id='question-number-previous' class='previous'><i class="fa-solid fa-arrow-left"></i></a>
            </div>
            <div id='uploadContainer' class='ml-auto'>
              <label for="fileInput" id="uploadIcon">
                <a href='#'><i class="fa-solid fa-file-arrow-up upload"></i></a>
              </label>
              <input type="file" id="fileInput" accept=".txt" style="display: none"> <!-- 測試時只先接受.txt檔, 正式的話就只接受筆記板的那個檔 -->
            </div>
          </div>
          <div id='searchContainer' class='search-container'>
            <i class="fa-solid fa-magnifying-glass"></i>
            <input id='searchInput' type='text' placeholder='搜尋'>
          </div>
        </div>
        <div id='displayFileContainer' class='container' style='margin-top:0.3rem;'>
          
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.min.js"></script>

<script>
  var SUBJECT = undefined;
  var DATE = undefined; // 跟著modal title日期的全域變數, regularQuestion函數的date局域變數與此無關
  var NUMBER = undefined;
  var PERIOD = undefined; // regularQuestion函數的period局域變數與此無關
  
  $(function(){
    subjectBtn();
    oneBtn();
    regularQuestion();
    regularAnswer();
    answerArea();
    ansQuestionNum();
    prevPage();
    upLoad();
    search();
  })

  function subjectBtn(){ 
    $('.subjectBtn').click(function(){
      SUBJECT = $(this).attr('subject');
      let title = $(this).text();
      $.ajax({
        url: '/exercise/',
        type: 'post',
        data: {
          'purpose': 'makeTags',
          'subject': SUBJECT
        },
        dataType: 'JSON',
        success : function(res){
          if (res.status){
            // 先刪除已存的, 不然重複開啟按鈕會不斷生成標籤
            $('div[period="present"] .row').remove();
            $('div[period="past"] .row').remove();

            // 創建當期試題(present)的標籤
            let divRow = $('<div>').attr('class', 'row');
            let divQueCol = $('<div>').attr('class', 'col-sm-5');
            let divAnsCol = $('<div>').attr('class', 'col-sm-5');
            let pdfIcon = $('<i>').attr('class', 'fa-regular fa-file-pdf');
            let folderIcon = $('<i>').attr('class', 'fa-regular fa-folder');
            let aQuestion = $('<a>').attr({'href':'#', 'class':'regular-question', 'date': res.present}).text(res.present+'.pdf');
            let aAnswer = $('<a>').attr({'href':'#', 'class':'regular-answer', 'date': res.present}).text('答案區');
            divQueCol.append(pdfIcon);
            divQueCol.append(aQuestion);
            divAnsCol.append(folderIcon);
            divAnsCol.append(aAnswer);
            divRow.append(divQueCol);
            divRow.append(divAnsCol);
            $('div[period="present"] h6').after(divRow);

            // 創建歷期試題(past)的標籤
            $.each(res.past, function(index, date){
              let divRow = $('<div>').attr('class', 'row');
                let divQueCol = $('<div>').attr('class', 'col-sm-5');
                let divAnsCol = $('<div>').attr('class', 'col-sm-5');
                let pdfIcon = $('<i>').attr('class', 'fa-regular fa-file-pdf');
                let folderIcon = $('<i>').attr('class', 'fa-regular fa-folder');
                let aQuestion = $('<a>').attr({'href':'#', 'class':'regular-question', 'date': date}).text(date+'.pdf');
                let aAnswer = $('<a>').attr({'href':'#', 'class':'regular-answer', 'date': date}).text('答案區');
                divQueCol.append(pdfIcon);
                divQueCol.append(aQuestion);
                divAnsCol.append(folderIcon);
                divAnsCol.append(aAnswer);
                divRow.append(divQueCol);
                divRow.append(divAnsCol);
                $('div[period="past"] h6').after(divRow);
            });
            
            $('#exerciseModalTitle').text(title);
            $('#exerciseModal').modal('show');
          }else{
            alert(res.error);
          }
        }
      });
    });
  }

  function oneBtn(){
    $('#oneBtn').click(function(){
      $.ajax({
        url:'/exercise/',
        type:'post',
        data:{ 
          'purpose': 'oneBtn',
          'SUBJECT': SUBJECT,
        },
        success: function(res){
          if(res.status){
            window.location.href = '/download_pdf/?path=' + encodeURIComponent(res.pdf_path);
          }else {
            alert(res.error)
          }
        }
      });
    });
  }

  function regularQuestion(){
    $('#questions-container').on('click', '.regular-question', function(){
      let date = $(this).attr('date');
      let fileName = $(this).text();
      let period = $(this).closest('[period]').attr('period');
      // console.log(period)

    $.ajax({
      url:'/exercise/',
      type:'post',
      data:{
        'purpose': 'regularQuestion',
        'subject': SUBJECT,
        'date': date,
        'fileName': fileName,
        'period': period,
      },
      success: function(res){
        if (res.status){
          window.location.href = '/download_pdf/?path=' + encodeURIComponent(res.file_path);
        }else{
          alert(res.error)
        }
      }
    })
  })
}

function regularAnswer(){
  $('#displayFileContainer').on('click', '.answer-file', function(){
    let fileName = $(this).text();

    $.ajax({
      url:'/exercise/',
      type:'post',
      data:{
        'purpose': 'regularAnswer',
        'subject': SUBJECT,
        'date': DATE,
        'number': NUMBER,
        'period': PERIOD,
        'fileName': fileName,
      },
      success: function(res){
        if (res.status){
          console.log('JJJJ')
          window.location.href = '/download_answer_panel/?path=' + encodeURIComponent(res.file_path);
        }else{
          alert(res.error)
        }
      }
    });
  });
}
        
function answerArea(){
  $('#questions-container').on('click', '.regular-answer', function(){
    DATE = $(this).attr('date');
    PERIOD = $(this).closest('[period]').attr('period');
    let prevModalTitle = $('#exerciseModalTitle').text()
    $('#answerModalLabel').text(prevModalTitle +' - '+ DATE);
    $('#answerModal').modal('show');
    $('#exerciseModal').modal('hide');
  })
}

function ansQuestionNum(){
  $('#questionNumTable').on('click', '.question-number', function(){
    NUMBER = $(this).text()
    let prevModalTitle = $('#answerModalLabel').text()
    $('#ansQuestionNumModalLabel').text(prevModalTitle + ' - ' + NUMBER)
    $('#answerModal').modal('hide');

    $.ajax({
      url:'/exercise/',
      type:'post',
      data:{
        'purpose':'openQuestionNumModal',
        'number': NUMBER,
        'date': DATE,
        'period': PERIOD,
        'subject': SUBJECT,
      },
      dataType:'JSON',
      success: function(res){
        if(res.status){
          /* 創建該題號資料夾裡的DOM標籤 */

          // 先把原本已有的刪除
          $('#displayFileContainer').empty();

          // 開始建DOM標籤
          $.each(res.file_list, function(index, fileName){
            let divRow = $('<div>').attr('class', 'row');
            let divGrid = $('<div>').attr('class', 'col-sm-12');
            let notePanelIcon = $('<i>').attr('class', 'fa-solid fa-pen-to-square');
            let a = $('<a>').attr({'href': '#', 'class': 'answer-file', 'like': '', 'dislike': '',}).text(fileName);
            divGrid.append(notePanelIcon);
            divGrid.append(a);
            divRow.append(divGrid);
            $('#displayFileContainer').append(divRow);
          })
          $('#questionNumModal').modal('show');
        }else{
          alert(res.error)
        }
      }
    })
  })
}

function prevPage(){
  $('#queNumTopContainer').on('click', '#question-number-previous', function(){
    $('#questionNumModal').modal('hide');
    $('#answerModal').modal('show');
  });

  $('#ansTopContainer').on('click', '#answer-previous', function(){
    $('#answerModal').modal('hide');
    $('#exerciseModal').modal('show');
  });
}

function upLoad(){
  // 點擊圖標就能上傳檔案的功能
  $('#uploadIcon').on('click', function() {
    $('#fileInput').click();
  });
  
  $('#fileInput').on('change', function() {
    const file = this.files[0];
    if (file.type === 'text/plain') {
      uploadFile(file);
    } else {
      alert('Please select a .txt file');
    }
  });
}

function uploadFile(file) {
  const formData = new FormData(); // a built-in class in js which is key-value pair inside for coveniently using when uploading file
  formData.append('file', file);
  formData.append('subject', SUBJECT);
  formData.append('number', NUMBER);
  formData.append('date', DATE);
  formData.append('period', PERIOD);

  $.ajax({
    url: '/upload_file/', 
    type: 'POST',
    data: formData,
    processData: false,
    contentType: false,
    success: function(res) {
      if(res.status){
      alert(res.message);
      let divRow = $('<div>').attr('class', 'row');
      let divGrid = $('<div>').attr('class', 'col-sm-12');
      let notePanelIcon = $('<i>').attr('class', 'fa-solid fa-pen-to-square');
      let a = $('<a>').attr({'href': '#', 'class': 'answer-file', 'like': '', 'dislike': '',}).text(res.file_name);
      divGrid.append(notePanelIcon);
      divGrid.append(a);
      divRow.append(divGrid);
      $('#displayFileContainer').append(divRow);
    }else{
      alert(res.error);
    }
  }
  });
}

function filter() {
  // Get the search input value
  let searchText = $('#searchInput').val().toLowerCase();

  // Loop through each file link
  $('#displayFileContainer a').each(function() {
      // Get the text content of the file link and convert it to lowercase
      let text = $(this).text().toLowerCase();

      // Show or hide the file link based on whether the search text is found in the link text
      if (text.includes(searchText)) {
          $(this).parent().parent().show();
      } else {
          $(this).parent().parent().hide();
      }
  });
}

function search(){
  $('#searchInput').on('input', filter);
}
</script>

{% endblock js %}