.area-container {
    max-width: 70%; /* Set the maximum width as needed */
    margin: 0 auto; /* Center the container horizontally */
    padding: 0 15px; /* Optional: Add padding to the container */
  }

/* 每一門科目的區域 */
.subject-container {
    width: 100%; /* Fixed width */
    height: 150px; /* Fixed height */  /* 筆電測試: 如果按鈕比較少, 沒有水平拉條出現就用92px. 如果按鈕多到水平拉條跑出來的話, 就用108px */
                                       /* 桌機測試: 如果按鈕比較少, 沒有水平拉條出現就用136px. 如果按鈕多到水平拉條跑出來的話, 就用144px */
    overflow-x: auto; /* Enable scrolling in x direction */
    overflow-y: hidden; /* disable scrolling in y direction */
    white-space: nowrap; /* the buttons are displayed in a single line without wrapping */
    border: 1px solid #ccc; /* Add border for visibility */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    margin: 0 auto; /* Center align horizontally */
    margin-top: 20px;
}

/* 每一門科目的標題樣式 */
.header-style {
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    font-size: 1.7rem;
    color: #333;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    margin-top: 0.7rem;
}

.regular-question {
    margin-left: 0.3rem;
}

.regular-answer {
    margin-left: 0.3rem;
}

.answer-file {
    margin-left: 0.3rem;
}

.dislike-btn {
    margin-left: 1rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

/* 一鍵生成試題按鈕的hover效果 */
#oneBtn {
    position: relative;
    cursor: pointer;
}

#oneBtn:hover::after {
    content: "下載隨機生成的試題";
    position: absolute;
    top: 0px; /* Adjust this value to position the text */
    right: calc(100% + 3px);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
}

/* 上一頁的hover效果 */
.previous {
    position: relative;
    cursor: pointer;
}

.previous:hover::after {
    content: "上一頁";
    position: absolute;
    top: -20px; /* Adjust this value to position the text */
    left: calc(100% + 3px);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
}

#iconContainer {
    display: flex;
    align-items: center;
}

/* 上傳的hover效果 */
.upload {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}

.upload:hover::after {
    content: "上傳本題詳解";
    position: absolute;
    top: -20px; /* Adjust this value to position the text */
    right: calc(100% + 3px);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
}

.search-icon {
    position: relative;
    cursor: pointer;
}

.search-icon:hover::after {
    content: "搜尋";
    position: absolute;
    top: -20px; /* Adjust this value to position the text */
    right: calc(100% + 3px);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
}

#sortIcon {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}

#sortIcon:hover::after {
    content: "排序";
    position: absolute;
    top: -20px; /* Adjust this value to position the text */
    right: calc(100% + 3px);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
}

/* 不讓上傳檔案的輸入框出現 */
.hidden {
    display: none;
}

/* 搜尋框的樣式 */
.search-container {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.search-icon {
    /*position: absolute;
    left: 3px;
    top: 57%;*/
    font-size: 20px; /* Adjusted size */
    /*transform: translateY(-50%);*/
    color: #888;
}

.search-input {
    padding-left: 5px; /* Adjust as needed */
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 30px; /* Adjust as needed */
    width: 150px;
    font-size: 18px;
    outline: none;
}

/* 排序下拉選單的樣式 */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 5px 7px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* more的hover效果 */
.show-more {
    position: relative;
    cursor: pointer;
}

.show-more:hover::after {
    content: "展示全部";
    position: absolute;
    top: -20px; /* Adjust this value to position the text */
    left: calc(100% + 3px);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
}