.regular-question {
    margin-left: 0.3rem;
}

.regular-answer {
    margin-left: 0.3rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

/* 試題按鈕的hover效果 */
#oneBtn {
    position: relative;
    cursor: pointer;
}

#oneBtn:hover::after {
    content: "下載隨機生成的試題";
    position: absolute;
    top: 0px; /* Adjust this value to position the text */
    right: calc(100% + 3px);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
}